<p id="notice">
  <%= notice %>
</p>

<div>
  <a class="fixed bottom-5 right-5 rounded-full shadow-lg bg-indigo-700 p-5 hover:bg-indigo-500 transition duration-300"
    href="<%= @wallpaper.wallpaper %>" download=""><svg class="w-12 h-12" fill="none" stroke="white" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"></path>
    </svg></a>
</div>
<div class="min-h-screen flex sm:block items-center justify-center">
  <div class="m-2 sm:mx-3 sm:my-3 md:m-10 p-3 md:p-5 w-1/9 bg-white rounded-md shadow-lg flex flex-col items-center">
    <h1 class="text-3xl mb-5 font-semibold text-indigo-500">Wallpaper Space</h1>
    <div class="w-2/3 rounded-lg shadow-lg">
      <img class="w-full h-full rounded-lg shadow-lg object-cover" src="<%= @wallpaper.wallpaper %>" alt="<%= @wallpaper.name %>">
    </div>

    <div class="my-10 w-2/3">
      <p class="text-xl">
        <strong>Name:</strong>
        <%= @wallpaper.name %>
      </p>

      <p class="text-xl">
        <strong>Description:</strong>
        <%= @wallpaper.description %>
      </p>

      <p class="text-xl">
        <strong>Category:</strong>
        <%= @wallpaper.category %>
      </p>

    </div>
    <a class="flex flex-row py-1 pr-1 transition duration-300 font-semibold items-center" href="<%= wallpapers_path %>">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7"></path>
      </svg>
      Back
    </a>
  </div>
  <%= button_to "lorem ipsum", wallpaper_path, method: :delete, class: "bg-transparent text-transparent hover:bg-transparent hover:text-transparent" %>
</div>